################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PollyExample/bin/Debug/net9.0
/PollyExample/obj
